<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>System GUI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="navbar">
    <div class="navbar-logo"></div>
    <div class="tab active" onclick="loadPage('alpine.html', this)">Alpine</div>
    <div class="tab" onclick="loadPage('dashboard.html', this)">Dashboard</div>
    <div class="tab" onclick="loadPage('configuration.html', this)">Configuration</div>
    <div class="tab" onclick="loadPage('inspector.html', this)">Inspector</div>
    <div class="tab" onclick="loadPage('Documentation.html', this)">Documentation</div>
    <div class="tab" onclick="loadPage('3D_map.html', this)">3D_map</div>
    <div class="tab" onclick="loadPage('socketio.html', this)">Socketio</div>
  </div>

  <iframe id="content-frame" src="configuration.html"></iframe>

  <script src="{{ url_for('static', filename='js/script_index.js') }}"></script>
</body>
</html>
