<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inspector</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="inspector-layout">
  <div class="grid"></div>
  
  <div class="inspector-container">
    <!-- Sezioni Data sulla sinistra (due colonne) -->
    <div class="data-sections">
      <!-- Prima riga con due sezioni affiancate -->
      <div class="data-row">
        <div class="data-section">
          <div class="data-title">Status Robot</div>
          
          <div class="data-group">
            <div class="group-title">Alpine_Status</div>
            <div class="data-item">
              <span class="data-label">esp32_status</span>
              <span class="data-value">Connected</span>
            </div>
            <div class="data-item">
              <span class="data-label">Signal Strength</span>
              <span class="data-value">98%</span>
            </div>
            <div class="data-item">
              <span class="data-label">Battery</span>
              <span class="data-value">100%</span>
            </div>
            <div class="data-item">
              <span class="data-label">Battery_tank</span>
              <span class="data-value">100%</span>
            </div>
          </div>
 
          <div class="data-group">
            <div class="group-title">Winch_DX</div>
            <div class="data-item">
              <span class="data-label">Connected</span>
              <span class="data-value">True</span>
            </div>
          </div>
          <div class="data-group">
            <div class="group-title">Winch_SX</div>
            <div class="data-item">
              <span class="data-label">Connected</span>
              <span class="data-value">True</span>
            </div>
          </div>
          
        </div>

        <div class="data-section">
          <div class="data-title">Control Values</div>
          
          <div class="data-group">
            <div class="group-title">Winch_SX</div>
            <div class="data-item">
              <span class="data-label">Value_1 (to_define)</span>
              <span class="data-value" id="val_1">1024</span>
            </div>
            <div class="data-item">
              <span class="data-label">Value_1 (to_define)</span>
              <span class="data-value" id="val_1">1024</span>
            </div>
            <div class="data-item">
              <span class="data-label">Value_1 (to_define)</span>
              <span class="data-value" id="val_1">1024</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
  <script src="{{ url_for('static', filename='js/script_inspector.js') }}"></script>
</body>
</html>